<section class="footer-section text-center">
  <div class="container">
    <div class="footer-label">Applications to become a Qkids teacher are managed by TeachPartTime.com</div>
    <ul class="footer-nav">
      <li class="nav-item">
        <a href="http://www.teachparttime.com/terms-of-use/" class="link" target="_blank"
           rel="noopener noreferrer">Terms of Service</a>
      </li>
      <li class="nav-item">
        <a href="http://www.teachparttime.com/privacy-policy/" class="link" target="_blank"
           rel="noopener noreferrer">Privacy Policy</a>
      </li>
    </ul>
  </div>
</section>
